@import "tailwindcss";
/* biome-ignore lint/suspicious/noUnknownAtRules: daisyUI */
@plugin "daisyui" {
	/* biome-ignore lint/correctness/noUnknownProperty: daisyUI */
	themes:
		light --default,
		dark --prefersdark;
}
